apiVersion: v1
kind: Secret
metadata:
  name: notification-secrets
  namespace: notification-dev
type: Opaque
stringData:
  TIME_ZONE: Asia/Singapore
  POSTGRES_HOST: 
  POSTGRES_PORT: "5432"
  POSTGRES_USERNAME: postgres
  POSTGRES_PASSWORD: 
  POSTGRES_DB: 
  ENV_MODE: dev
  NATS_HOST: 
  NATS_PORT: "4222"